/*DEFAULT COMPUTER LAYOUT*/

#font{
    font-family: 'Share Tech'
}

#headingFont{
    font-family: 'Aldrich'
}

h1{
    text-align: left;
    font-size: 40px;
}
        
h4{
    text-align: right;
    font-size: 20px;
}

h5{
    text-align: left;
    font-size: 18px;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    padding: 5px;
}
        
.grid-item{
    border: 1px solid rgba(0, 0, 0, 1);
    padding: 10px;
    font-size: 15px;
    text-align: center;
}
        
h2{
    font-size:30px;
}

.textarea{
    width: 450px;
}
             
.grid2-container{
    float: center;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    grid-gap: 10px;
}

.float-center{
    float: center;
}
        
.text{
    float: right;
}
        
h3{
    font-size: 20px;
}

@media (max-width: 480px){ /*PHONE LAYOUT*/
    .grid-container{
    display: grid;
    grid-template-columns: 125px 125px 160px;
    grid-template-rows: auto auto;
    padding: 5px;
    }
    
    .grid2-container{
        float: right;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows:auto auto auto auto auto auto;
    }
    
    h1{
        font-size: 30px;
    }
    
    h2{
        text-align: center;
        font-size:20px;

        
    }
    
    h4{
        font-size: 15px;
    }
    
    .textarea{
    width: 350px;
    text-align: left;
    font-size:15px;
    }  
}
